$primary-color: rgb(223, 223, 223);
$global-padding-padding: 1em;

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body {
	background-color: $primary-color;
	font: normal x-small verdana, arial, helvetica, sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

button {
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
    font: inherit;
    padding: $global-padding-padding;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}
}

/*    No select    */
.no-select {
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

/*    Banner containing image for community and user    */
#banner {
	align-content: center;
	box-shadow: inset 0 2px 10px 10px black;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	max-height: 40em;
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: -10;

	img {
		display: block;
		height: 100%;    
		object-fit: cover;
		object-position: 50% 50%;
		z-index: -15;
	}

	#banner-text {
		color: white;
		font-size: 10em;
		left: 50%;
		position: absolute;
		position: relative;
		text-shadow: black 0 2px 5px;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
		z-index: 5;
	}
}

.frame {
	background-color: white;
	padding: $global-padding-padding;
}

.sidebar-title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.light-text {
	color: rgba(0, 0, 0, 0.75);
}

.drop-shadow {
	box-shadow: 0 1px 3px -0.9px rgba(0, 0, 0, 0.9);
}

#content {
	background-color: $primary-color;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 1);
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	padding-bottom: 10em;
	padding: $global-padding-padding;
	z-index: 10;
	
	.content-child:first-child {
		width: 100%;
	}

	#posts {
		flex-grow: 2;
		margin-left: $global-padding-padding;
		margin-right: $global-padding-padding;
	}

	* {
		height: 0%;
	}
}

/* Community sidebar */
#content {
	#communities, #sidebar {
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: 200px;
		position: -webkit-sticky;
		position: sticky;
		top: $global-padding-padding;
		width: auto;
	} 
	
	#sidebar {
		min-width: 200px;
		padding: 0; 
		
		.frame {
			margin-bottom: $global-padding-padding;

			:last-child {
				margin-bottom: 0;
			}
		}

		#submit-selector, #user-information {
			display: -webkit-flex;
			display: flex;
			flex-direction: column;

			* {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.select-community {
	font-family: monospace;
	font-size: x-small;
	margin-bottom: 3px;
	padding: 3px;
	text-transform: uppercase;
	width: 0%;

	&:hover {
		cursor: pointer;
	}
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

.select-community-divider {
	background-color: transparent;
	border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
	border: transparent;
	display: block;
	height: 1px;
	margin-bottom: 3px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.post {
	border-bottom: rgba(0, 0, 0, 0.25) solid 2px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin-bottom: -1px;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
	
	.thumbnail {
		border-radius: 0.5em;
		border: rgba(0, 0, 0, 0.25) solid 1px;
		margin-right: $global-padding-padding;
		max-height: 6em;
	}
	
	.post-info {
		.post-title {
			color: black;
			font-size: 1.5em;
		}

		.small-text {
			color: gray;
			font-size: 0.6em;
			margin-left: 0.5em;
		}
		
		* {
			margin-bottom: 0.225em;
		}
	}
}

/*   Community Navigation (Hot, New, Rising, Controversial, Top, Gilded, Wiki)   */
#community-navigation {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-grow: 100;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: $global-padding-padding;

	.button {
		font-size: 12px;
		margin-left: 3px;
		margin-right: 3px;
		padding: 5px 10px;
		text-transform: uppercase;
	}

	.selected-button {
		font-weight: 600;
	}
}

/* LOGIN FORM */
#login-form {
	input {
		border: rgba(0, 0, 0, 0.25) solid 1px;
		box-sizing: border-box;
		margin-bottom: 0.25em;
		margin: 0;
		padding: 0.4em;
		width: 100%;
		
		&:last-child {
			margin: 0;
		}
	}
	
	button {
		margin-left: auto;
	}
}