// Colors
$primary-color: rgba(238, 89, 65, 1);
$secondary-color: lighten($primary-color, 10%);
$accent-color: rgba(0, 0, 0, 0.25);
$background-color: rgba(240, 240, 240, 1);


// Margins and Paddings
$frame-margin: 1em;
$frame-vertical-margin: 0.5em;
$frame-horizontal-margin: 1em;
$frame-padding: 1em;

// Others
$topbar-height: 10em;
$content-width: 120em;
$border-radius: 2px;

// Reset
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;

	&:visited {
		text-decoration: none;
		color: black;
	}
}

p {
	font-size: 12px;
	white-space: pre-line;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(0, 0, 0, 0.85);
}

body {
	background-color: $background-color;
	font: normal x-small verdana, arial, helvetica, sans-serif;

	/* &::-webkit-scrollbar { 
		display: none; 
	} */
}

button {
	background-color: $primary-color;
	color: white;
	border: none;
	cursor: pointer;
	display: block;
    font: inherit;
	padding: 1em;
	border-radius: $border-radius;
	font-weight: 900;
	font-size: 13px;
	transition: 0.2s;
	
	&:hover {
		background-color: darken($primary-color, 10%);
	}
}	

input, textarea {
	border: rgba(0, 0, 0, 0.25) solid 1px;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em;
	border-radius: $border-radius;
	resize: none;

	&:focus {
		outline: none;
	}

	&.invalid {
		border: 2px rgba(255, 0, 0, 0.50) solid;
	}
}

.clickable {
	cursor: pointer;

	&:hover {
		color: goldenrod;
	}
}

.apply-margin--vertical-xl {
	& > * {
		margin-bottom: $frame-margin;
		&:last-child { margin-bottom: 0 }
	}
}

.apply-margin--vertical {
	& > * {
		margin-bottom: $frame-vertical-margin;
		&:last-child { margin-bottom: 0 }
	}
}

.apply-margin--horizontal {
	& > * {
		margin-right: $frame-horizontal-margin;
		&:last-child { margin-right: 0 }
	}
}

.flex {
	display: flex;
}

.flex--horizontal {
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex--center {
	justify-content: center;
}

.primary-text {
	color: rgb(18, 24, 27);
	font-size: 12px;
}

.secondary-text {
	color: rgba(18, 24, 27, 0.80);
	font-size: 11px;
}

.tertiary-text {
	color: rgba(18, 24, 27, 0.50);
	font-size: 10px;
}

.error {
	color: rgba(255, 91, 15, 1.00);

	&::first-letter {
		text-transform: capitalize;
	}
}

.no-select {
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.align--vertically {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.frame {
	background-color: white;
	padding: $frame-padding;
	border-radius: $border-radius;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#topbar {
	color: white;
	display: block;
	height: $topbar-height;
	width: 100%;
	background-color: $primary-color;

	& > #topbar-container {
		display: flex;
		flex-direction: row;
		max-width: $content-width;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
		margin-top: auto;
		margin-bottom: auto;

		& > input {
			max-width: 500px;
		}

		& > * {
			margin-right: 1em;

			&:first-child { margin-left: 0 }
			&:last-child { margin-right: 0 }
		}
	}
}

#container {
	padding: 1em 1em;
	display: flex;
	flex-direction: row;
	align-content: center;
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;

	& > * {
		margin-bottom: 1em;
		width: 100%;
	}
}

#community {
	& > #community-content {
		display: flex;
		flex-direction: row;

		& > *:first-child {
			flex-grow: 2;
			height: 0%;
		}

		& > *:last-child {
			margin-left: 1em;
		}
	}
}

#sidebar {
	width: 30em;
	min-width: 30em;

	& > #community-information {
		& > h1 {
			margin-bottom: 0;
		}

		& > button {
			width: 100%;
		}
	}

	& > #community-rules > h1 {
		margin-bottom: 0.5em;
	}
}

#community-navigation {
	padding: 1em;

	.button {
		font-size: 12px;
		margin-left: 3px;
		margin-right: 3px;
		text-transform: uppercase;
		transition: color 0.2s;
		cursor: pointer;

		&:hover {
			color: goldenrod;
		}

		&.selected {
			font-weight: 600;
		}
	}
}

#post-list {
	flex-grow: 2;
	height: 0%;
}

.post {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;

	& > .voting {
		display: flex;
		flex-direction: column;
		max-width: 5em;
		margin-right: 1em;

		& > * {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		& > button, & > button:active {
			border: none;
			box-shadow: none;
			background-color: transparent;
			font-weight: 900;
		}

		& > .upvote-button:hover {
			color: orangered;
		}

		& > .downvote-button:hover {
			color: blue;
		}
	}
	
	.post__thumbnail > img {
		border-radius: 0.5em;
		border: rgba(0, 0, 0, 0.25) solid 1px;
		margin-right: 1em;
		max-height: 6em;
	}
	
	.post__info {
		& > .post__title {
			color: black;
			font-size: 1.5em;
		}
	}
}

.search-bar {
	transition: background-color 0.1s;

	background-color: darken($primary-color, 5%);
	color: white;
	border: none;
	margin-left: auto;
	width: 50%;

	&::placeholder {
		color: darken($primary-color, 20%);
		font-weight: 900;
		transition: color 0.1s;
	}

	&:focus {
		background-color: white;
		color: black;
		outline: none;
		box-shadow: 0;

		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
			font-weight: 900;
		}
	}
}

.dropdownmenu {
	z-index: 100;
	color: inherit;
	background: inherit;
	position: relative;
	height: 0;

	& > .toggle {
		&.opened {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			background-color: darken($primary-color, 10%);
		}
	}

	& > .content {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		color: black;
		max-height: 200px;
		position: absolute;
		min-width: 100%;
		width: auto;
		height: 0;
		transition: height 0.1s;
		background-color: white;
		overflow: hidden;
		border-radius: 0;
		padding: 0 1em;

		& > *:first-child {
			margin-top: 0.5em;
		}

		&.closed {
			height: 0px;
		}

		&.opened {
			height: 200px;
		}
	}
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: center;

	& > .link {
		max-height: 4em;
		& > .image {
			opacity: 0.5;
			transition: opacity 0.5s;

			&:hover {
				opacity: 1;
			}
		}

		& > * {
			max-height: inherit;
		}
	}
}

#login-page {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: $content-width / 2;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

	& > form {
		margin-bottom: 1em;
		display: flex;
		flex-direction: column;

		& > * {
			width: 100%;
			margin-bottom: 0.5em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.submit > * {
	width: 100%;

	& > * {
		width: 100%;
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& > h2 {
		margin-bottom: 0.1em;
	}
}

.single-post {
	display: flex;
	flex-direction: column;
}

.loading {
	& > * {
		width: 100%;
		text-align: center;
	}
}