$primary-color: lighten(rgba(189, 32, 49, 1), 25%);
$background-color: rgb(238, 238, 238);
$border-color: rgba(0, 0, 0, 0.25);
$global-padding: 1em;
$topbar-height: 4em;
$site-width: 120em;
$border-radius: 2px;
$mobile-width-limit: 800px;

@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    }
    @else {
      @return #FFF;
    }
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	color: lighten(black, 30%);
}

body {
	background-color: $background-color;
	font: normal x-small verdana, arial, helvetica, sans-serif;

	/* &::-webkit-scrollbar { 
		display: none; 
	} */
}

button {
	background-color: $primary-color;
	color: white;
	border: none;
	cursor: pointer;
	display: block;
	padding: 0 auto;
    font: inherit;
	padding: $global-padding;
	border-radius: $border-radius;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.2em;
}	

input {
	border: rgba(0, 0, 0, 0.25) solid 1px;
	box-sizing: border-box;
	margin: 0;
	padding: 0.4em;
	width: 100%;
	transition: box-shadow 0.5s;

	&:focus {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		outline: none;
	}
}

.no-select {
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.frame {
	background-color: white;
	padding: $global-padding;
	border-radius: $border-radius;
	//border: 1px solid $border-color;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);


	& > .divider {
		display: block;
		background-color: $border-color;

		&:empty {
			min-height: 1px;
		}
	}
}

.light-text {
	color: gray;
}

#topbar {
	color: white;
	display: block;
	height: $topbar-height;
	width: 100%;
	background-color: $primary-color;

	& > #topbar-container {
		height: 100%;
		display: flex;
		flex-direction: row;
		width: $site-width;
		margin-left: auto;
		margin-right: auto;
		padding-left: $global-padding;
		padding-right: $global-padding;
	}
}

#container {
	padding: $global-padding $global-padding;
	display: flex;
	flex-direction: row;
	align-content: center;
	max-width: $site-width;
	margin-left: auto;
	margin-right: auto;

	& > * {
		margin-bottom: $global-padding;
		width: 100%;
	}
}

#community {
	& > #community-content {
		display: flex;
		flex-direction: row;

		& > *:last-child {
			margin-left: $global-padding;
		}
	}
}

#sidebar {
	width: 30em;

	& > * {
		margin-bottom: $global-padding;
	}

	@media all and (max-width: $mobile-width-limit) {
		display: none;
	}

	& > #community-information {
		& > * {
			margin-bottom: $global-padding / 2;
		}

		& > *:last-child, & > h1 {
			margin-bottom: 0;
		}

		& > button {
			width: 100%;
			transition: background-color 0.2s;

			&:hover {
				background-color: darken($primary-color, 20%);
			}
		}
	}

	& > #community-rules > h1 {
		margin-bottom: 0.5em;
	}

	& > #community-rules > p {
		font-size: 1.20em;
		margin-bottom: 0.8em;

		&:last-child {
			margin-bottom: 0;	
		}
	}
}

#community-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: $global-padding;
	padding: 0.5em;

	& > .button {
		font-size: 12px;
		margin-left: 3px;
		margin-right: 3px;
		padding: 5px 10px;
		text-transform: uppercase;
		transition: color 0.2s;
		cursor: pointer;

		&:hover {
			color: goldenrod;
		}
	}

	& > .selected-button {
		font-weight: 600;
	}
}

#post-list {
	flex-grow: 2;
	height: 0%;

	& > .post {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
	
		& > .voting {
			display: flex;
			flex-direction: column;
			max-width: 5em;
			margin-right: $global-padding;

			& > * {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}

			& > button, & > button:active {
				border: none;
				box-shadow: none;
				background-color: transparent;
				font-weight: 900;
			}

			& > .upvote-button:hover {
				color: orangered;
			}

			& > .downvote-button:hover {
				color: blue;
			}
		}
		
		.thumbnail > img {
			border-radius: 0.5em;
			border: rgba(0, 0, 0, 0.25) solid 1px;
			margin-right: $global-padding;
			max-height: 6em;
		}
		
		.post-info {
			.post-title {
				color: black;
				font-size: 1.5em;
			}
	
			.small-text {
				color: gray;
				font-size: 0.6em;
				margin-left: 0.5em;
			}
			
			* {
				margin-bottom: 0.225em;
			}
		}
	}
}

.dropdownmenu {
	z-index: 100;
	color: inherit;
	background-color: inherit;
	position: relative;

	& > * {
		width: 100%;
	}

	& > .toggle {
		color: inherit;
		background-color: inherit;
		border-radius: 0;
		width: 100%;

		&:focus {
			outline: 0;
		}

		&.opened {
			color: black;
			background-color: white;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}
	}

	& > .content {
		color: black;
		margin-top: 0em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		overflow: auto;
		max-height: 200px;

		& > * {
			padding: 0.5em;
		}
	}
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: center;

	& > .link {
		max-height: 4em;
		& > .image {
			opacity: 0.5;
			transition: opacity 0.5s;

			&:hover {
				opacity: 1;
			}
		}

		& > * {
			max-height: inherit;
		}
	}
}