@import url('https://fonts.googleapis.com/css?family=Roboto');

.html * {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0px;
	margin-bottom: 100px;
	background-color: rgb(223, 223, 223);
	font: normal x-small verdana, arial, helvetica, sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

.frame {
	border: rgba(0, 0, 0, 0.25) solid 1px;
	background-color: white;
}

#header {
	z-index: 5;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
}

#content {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

#content #posts {
	flex-grow: 2;
	margin-left: 10px;
	margin-right: 10px;
}

#content {
	height: 100%;
}

#content * {
	height: 0%;
}

/* Community sidebar */
#content #communities, #content #sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	width: 150px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 36px;
}

.select-community {
	padding: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	font-family: monospace;
	font-size: x-small;
	text-transform: uppercase;
}

.select-community:first-child {
	margin-top: 0px;
}

.select-community:last-child {
	margin-bottom: 0px;
}

.select-community-divider {
	display: block;
	height: 1px;
	width: 100%;
	background-color: transparent;
	border: transparent;
	border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
}

.post {
	padding: 5px;
	margin-bottom: 50px;
}







/* COMMUNITY NAVIGATION */
/* Div containing Hot, New, Rising, Controversial, Top, Gilded and Wiki */
#community-navigation {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	top: 0px;
}

.community-navigation-button {
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px 10px;
}

.selected-community-navigation-button {
	font-weight: 600;
}

