* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }
  a:visited {
    text-decoration: none;
    color: black; }

p {
  font-size: 12px;
  white-space: pre-line;
  text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 0.4em; }

body {
  background-color: #f0f0f0;
  font: normal x-small verdana, arial, helvetica, sans-serif;
  /* &::-webkit-scrollbar { 
		display: none; 
	} */ }

button {
  background-color: #ee5941;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  font: inherit;
  padding: 1em;
  border-radius: 2px;
  font-weight: 900;
  font-size: 13px;
  transition: 0.2s; }
  button.disabled {
    background-color: #cf6f60; }
    button.disabled:hover {
      background-color: #cf6f60;
      cursor: default; }
  button:hover {
    background-color: #e73215; }
  button:focus {
    outline: 0; }

input, textarea {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  border-radius: 2px;
  resize: none; }
  input:focus, textarea:focus {
    outline: none; }
  input.invalid, textarea.invalid {
    border: 2px rgba(255, 0, 0, 0.5) solid; }

.clickable {
  cursor: pointer;
  transition: color 0.2s; }
  .clickable:hover {
    color: goldenrod; }

.apply-margin--vertical-xl > * {
  margin-bottom: 1em; }
  .apply-margin--vertical-xl > *:last-child {
    margin-bottom: 0; }

.apply-margin--vertical > * {
  margin-bottom: 0.5em; }
  .apply-margin--vertical > *:last-child {
    margin-bottom: 0; }

.apply-margin--horizontal > * {
  margin-right: 1em; }
  .apply-margin--horizontal > *:last-child {
    margin-right: 0; }

.flex {
  display: flex; }

.flex--horizontal {
  flex-direction: row;
  flex-wrap: nowrap; }

.flex--center {
  justify-content: center; }

.primary-text {
  color: #12181b;
  font-size: 12px; }

.secondary-text {
  color: rgba(18, 24, 27, 0.8);
  font-size: 11px; }

.tertiary-text {
  color: rgba(18, 24, 27, 0.5);
  font-size: 10px; }

.light-text {
  color: #a0a0a0; }

.error {
  color: #ff5b0f; }
  .error::first-letter {
    text-transform: capitalize; }

.no-select {
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

.align--vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.frame {
  background-color: white;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }

#topbar {
  color: white;
  display: block;
  height: 10em;
  width: 100%;
  background-color: #ee5941; }
  #topbar > #topbar-container {
    display: flex;
    flex-direction: row;
    max-width: 120em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: auto;
    margin-bottom: auto; }
    #topbar > #topbar-container > input {
      max-width: 500px; }
    #topbar > #topbar-container > * {
      margin-right: 1em; }
      #topbar > #topbar-container > *:first-child {
        margin-left: 0; }
      #topbar > #topbar-container > *:last-child {
        margin-right: 0; }

#container {
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 120em;
  margin-left: auto;
  margin-right: auto; }
  #container > * {
    margin-bottom: 1em;
    width: 100%; }

#community > #community-content {
  display: flex;
  flex-direction: row; }
  #community > #community-content > *:first-child {
    flex-grow: 2;
    height: 0%; }
  #community > #community-content > *:last-child {
    margin-left: 1em; }

#sidebar {
  width: 30em;
  min-width: 30em; }
  #sidebar button {
    width: 100%; }
  #sidebar > #community-information > h1 {
    margin-bottom: 0; }
  #sidebar > #community-information > button {
    width: 100%; }
  #sidebar > #community-rules > h1 {
    margin-bottom: 0.5em; }

#navigation {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  #navigation .button {
    margin-left: 3px;
    margin-right: 3px;
    text-transform: lowercase;
    transition: color 0.2s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px; }
    #navigation .button::first-letter {
      text-transform: uppercase; }
    #navigation .button:hover {
      color: goldenrod; }
    #navigation .button.selected {
      transition: color 0s;
      color: rgba(0, 0, 0, 0.75);
      text-shadow: 1px 0 0 rgba(20, 20, 20, 0.75); }

#post-list {
  flex-grow: 2;
  height: 0%; }

.post {
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }
  .post > .voting {
    display: flex;
    flex-direction: column;
    max-width: 5em;
    margin-right: 1em; }
    .post > .voting > * {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
    .post > .voting > button, .post > .voting > button:active {
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-weight: 900; }
    .post > .voting > .upvote-button:hover {
      color: orangered; }
    .post > .voting > .downvote-button:hover {
      color: blue; }
  .post .post__thumbnail > img {
    border-radius: 0.5em;
    border: rgba(0, 0, 0, 0.25) solid 1px;
    margin-right: 1em;
    max-height: 6em; }
  .post > .post__info > * {
    margin-bottom: 0.5em; }
  .post > .post__info > * > * > .post__title {
    font-size: 1.5em; }

.search-bar {
  transition: background-color 0.1s;
  background-color: #ec452a;
  border: none;
  margin-left: auto;
  width: 30%;
  color: #b82811; }
  .search-bar::placeholder {
    color: #b82811;
    font-weight: 900;
    transition: color 0.1s; }
  .search-bar:focus {
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    outline: none;
    box-shadow: 0; }
    .search-bar:focus::placeholder {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 900; }

.dropdownmenu {
  z-index: 100;
  color: inherit;
  background: inherit;
  position: relative;
  height: 0; }
  .dropdownmenu > .toggle.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #e73215; }
  .dropdownmenu > .content {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: black;
    max-height: 200px;
    position: absolute;
    min-width: 100%;
    width: auto;
    height: 0;
    transition: height 0.15s;
    transition: padding-top 0.1s;
    background-color: white;
    overflow: auto;
    border-radius: 0;
    padding: 0 1em; }
    .dropdownmenu > .content > * {
      margin-bottom: 5px; }
      .dropdownmenu > .content > *:first-child {
        margin-top: 0.5em; }
      .dropdownmenu > .content > *:last-child {
        margin-bottom: 0.5em; }
    .dropdownmenu > .content.closed {
      height: 0px;
      padding-top: 0px; }
    .dropdownmenu > .content.opened {
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px; }

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #footer > .link {
    max-height: 4em; }
    #footer > .link > .image {
      opacity: 0.5;
      transition: opacity 0.5s; }
      #footer > .link > .image:hover {
        opacity: 1; }
    #footer > .link > * {
      max-height: inherit; }

#login-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  #login-page > form {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column; }
    #login-page > form > * {
      width: 100%;
      margin-bottom: 0.5em; }
      #login-page > form > *:last-child {
        margin-bottom: 0; }

.submit > * {
  width: 100%; }
  .submit > * > * {
    width: 100%;
    margin-bottom: 0.5em; }
    .submit > * > *:last-child {
      margin-bottom: 0; }
  .submit > * > h2 {
    margin-bottom: 0.1em; }

.single-post {
  display: flex;
  flex-direction: column; }

.loading > * {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900; }

.comment {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 0.75em;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }
  .comment:first-child {
    margin-top: 0; }
  .comment:last-child {
    margin-bottom: 0; }
  .comment > .secondary-text {
    margin-bottom: 0.6em; }
  .comment > .primary-text {
    margin-bottom: 0.25em; }
