* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #dfdfdf;
  font: normal x-small verdana, arial, helvetica, sans-serif; }

p {
  margin: 0;
  padding: 0; }

button {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font: inherit;
  padding: 1em; }
  button:hover {
    background: rgba(0, 0, 0, 0.1); }

/*    No select    */
.no-select {
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

/*    Banner containing image for community and user    */
#banner {
  align-content: center;
  box-shadow: inset 0 2px 10px 10px black;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  max-height: 40em;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: -10; }
  #banner img {
    display: block;
    height: 100%;
    z-index: -15;
    object-fit: cover;
    object-position: 50% 50%; }
  #banner #banner-text {
    color: white;
    font-size: 10em;
    left: 50%;
    position: absolute;
    text-shadow: black 0 2px 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 5; }

.frame {
  background-color: white;
  padding: 1em; }

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.light-text {
  color: rgba(0, 0, 0, 0.75); }

.drop-shadow {
  box-shadow: 0 1px 3px -0.9px rgba(0, 0, 0, 0.9); }

#content {
  background-color: #dfdfdf;
  box-shadow: 0 0 10px -1px black;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 10em;
  padding: 1em;
  z-index: 10; }
  #content .content-child:first-child {
    width: 100%; }
  #content #posts {
    flex-grow: 2;
    margin-left: 1em;
    margin-right: 1em; }
  #content * {
    height: 0%; }

/* Community sidebar */
#content #communities, #content #sidebar {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  width: auto; }

#content #sidebar {
  min-width: 200px;
  padding: 0; }
  #content #sidebar .frame {
    margin-bottom: 1em; }
    #content #sidebar .frame :last-child {
      margin-bottom: 0; }
  #content #sidebar #submit-selector, #content #sidebar #user-information {
    display: -webkit-flex;
    display: flex;
    flex-direction: column; }
    #content #sidebar #submit-selector *, #content #sidebar #user-information * {
      margin-bottom: 10px; }
      #content #sidebar #submit-selector *:last-child, #content #sidebar #user-information *:last-child {
        margin-bottom: 0; }

.select-community {
  font-family: monospace;
  font-size: x-small;
  margin-bottom: 3px;
  padding: 3px;
  text-transform: uppercase;
  width: 0%; }
  .select-community:hover {
    cursor: pointer; }
  .select-community:first-child {
    margin-top: 0; }
  .select-community:last-child {
    margin-bottom: 0; }

.select-community-divider {
  background-color: transparent;
  border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
  border: transparent;
  display: block;
  height: 1px;
  margin-bottom: 3px;
  margin: 0;
  padding: 0;
  width: 100%; }

.post {
  border-bottom: rgba(0, 0, 0, 0.25) solid 2px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-bottom: -1px; }
  .post:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .post .thumbnail {
    border-radius: 0.5em;
    border: rgba(0, 0, 0, 0.25) solid 1px;
    margin-right: 1em;
    max-height: 6em; }
  .post .post-info .post-title {
    color: black;
    font-size: 1.5em; }
  .post .post-info .small-text {
    color: gray;
    font-size: 0.6em;
    margin-left: 0.5em; }
  .post .post-info * {
    margin-bottom: 0.225em; }

/*   Community Navigation (Hot, New, Rising, Controversial, Top, Gilded, Wiki)   */
#community-navigation {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-grow: 100;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1em; }
  #community-navigation .button {
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px 10px;
    text-transform: uppercase; }
  #community-navigation .selected-button {
    font-weight: 600; }

/* LOGIN FORM */
#login-form button {
  margin-left: auto; }

#login-form input {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  margin: 0;
  padding: 0.4em;
  width: 100%; }
  #login-form input:last-child {
    margin: 0; }
