@import url('https://fonts.googleapis.com/css?family=Roboto');

.html * {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0px;
	margin-bottom: 30em;
	background-color: rgb(223, 223, 223);
	font: normal x-small verdana, arial, helvetica, sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

Link {
	text-decoration: none;
}

.light-text {
	color: rgba(0, 0, 0, 0.75);
}

.frame {
	/* border: rgba(0, 0, 0, 0.25) solid 1px; */
	background-color: white;
}

#header {
	margin: 1em;
	padding: 0;
}

#header img {
	width: 100%;
	height: 100%;
	max-height: 200px;
}

#content {
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#content #posts {
	flex-grow: 2;
	margin-right: 1em;
	margin-left: 1em;
}

#content * {
	height: 0%;
}

/* Community sidebar */
#content #communities, #content #sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: auto;
	max-width: 200px;
	margin: 0px;
	padding: 0.7em;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 1em;
	box-shadow: 0px 1px 3px -0.9px rgba(0, 0, 0, 0.9);
}

.select-community {
	padding: 3px;
	margin-bottom: 3px;
	font-family: monospace;
	font-size: x-small;
	text-transform: uppercase;
	width: 0%;
}

.select-community:hover {
	cursor: pointer;
}


.select-community:first-child {
	margin-top: 0px;
}

.select-community:last-child {
	margin-bottom: 0px;
}

.select-community-divider {
	display: block;
	height: 1px;
	width: 100%;
	background-color: transparent;
	border: transparent;
	border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
}

#posts {
	box-shadow: 0px 1px 3px -0.9px rgba(0, 0, 0, 0.9);
}

.post {
	padding: 1em;
	margin-bottom: -1px;
	display: flex;
	flex-direction: row;
	border-bottom: rgba(0, 0, 0, 0.25) solid 2px;
}

.post:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.post .thumbnail {
	max-height: 6em;
	margin-right: 1em;
	border: rgba(0, 0, 0, 0.25) solid 1px;
	border-radius: 0.5em;
}

.post .post-info * {
	margin-bottom: 0.225em;
}

.post .post-info .post-title {
	font-size: 1.5em;
	color: black;
}

.post .post-info .post-source {
	font-size: 0.5em;
	margin-left: 0.5em;
	color: gray;
}


/* COMMUNITY NAVIGATION */
/* Div containing Hot, New, Rising, Controversial, Top, Gilded and Wiki */
#community-navigation {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 1em;
	box-shadow: 0px 1px 3px -0.9px rgba(0, 0, 0, 0.9);
}

.community-navigation-button {
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px 10px;
}

.selected-community-navigation-button {
	font-weight: 600;
}

/* LOGIN FORM */
#login-form {
	margin-bottom: 1em;
}

#login-form input {
	box-sizing: border-box;
	width: 100%;
	padding: 0.4em;
	margin: 0;
	margin-bottom: 0.25em;
	border: rgba(0, 0, 0, 0.25) solid 1px;
}

#login-form button {
	margin-left: auto;
}

#login-form input:last-child {
	margin: 0;
}


button {
	background: rgba(0, 0, 0, 0.05);
    padding: 1em;
    font: inherit;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
}